<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <h2 th:text="${categoria.id} != null ? 'Editar Categoria' : 'Nova Categoria'"></h2>

    <form th:action="${categoria.id} != null ? @{/categorias/atualizar/{id}(id=${categoria.id})} : @{/categorias}"
          th:object="${categoria}" method="post">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" class="form-control"/>
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></div>
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="/categorias" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>
